 body {
   background-image: url(backgrounds/foggy-trees-flipped.jpg);
   background-size: cover;
   background-attachment: fixed;
 }

 @media screen and (max-width: 575px) {
 .navbar {
  background: rgb(3, 55, 83, 0.8);
  height: 30%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
/* display: none removes bar AND children */
 } 
}


 /* Works - big screen */
@media screen and (min-width: 576px) {
  .navbar {
    background: rgb(3, 55, 83, 0.8);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
}

/* Works - phone screen */
.title {
    border: 6px solid white;
    text-transform: uppercase;
    font-family: Arial;
    color: white;
    width: 30%;
    margin: auto;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
  }


/* WORKS - big screen */ 
@media screen and (min-width: 576px) {
.title {
  border: 6px solid white;
  text-transform: uppercase;
  font-family: Arial;
  color: white;
  width: 80%;
  text-align: center;
}
}









/* DOES NOT WORK - PHONE */
@media screen and (max-width: 576px) {
  .taskCounter {
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    padding-top: 5px;
    text-align: center;
    text-transform: lowercase;
    font-family: Arial;
    font-size: 22px;
    color: white;
    display: none;
  }
    } 

/* Works - big screen*/
  @media screen and (min-width: 576px) {
.taskCounter {
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  padding-top: 5px;
  text-align: center;
  margin: 30px auto;
  text-transform: lowercase;
  font-family: Arial;
  font-size: 22px;
  color: white;
}
  }






  @media screen and (max-width: 576px) {
.input {
  text-align: center;
  margin-top: 30px;
  width: 100%;
  display: none;
}
  }
     
input[type=text] {
   width: max;
   font-size: 20px;
   border: 1px solid #C2C2C2;
   border-radius: 0px;
   padding-left: 10px;
   padding-right: 10px;
}

input[type=submit] {
       margin-top: 10px;
       padding: 8px;
       font-size: 15px;
       background: none;
       border: 3px solid white;
       color: white;
     }

     
.tasks {
  margin-left: 40%;
  margin-top: 20%;
  margin-right: 10%
} 

ul {
  margin: 0;
  padding: 0;
}

ul li {
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

