.title {
    background-color: cadetblue;
  }
  
  .input {
    background-color: paleturquoise;
  }
  
  .taskCounter {
    background-color: aquamarine;
  }
  
  .tasks {
    background-color: skyblue;
  }