body {
    background-image: url(foggy-trees-flipped.jpg);
    background-size: cover;
    background-attachment: fixed;
  }

#sidebar {
  background: rgb(3, 55, 83, 0.8);

}
 /* big screen */
 @media screen and (min-width: 768px) {
  #sidebar {
    background: rgb(3, 55, 83, 0.8);
    min-height: calc(100vh);
    top: 0;
    left: 0;
    z-index: -1;
  }
}



/* GET IT DONE */ 
#title {
width: 70%;
height: 150px;
border: 6px solid white;
margin: 3% auto;
font-family: Arial;
font-size: 30px;
color: white;
text-align: center;
text-transform: uppercase;
word-spacing: 100000px;
vertical-align: middle;
}

/* GET IT DONE big screen */
@media screen and (min-width: 768px) {
  #title {
    width: 70%;
    height: 200px;
    margin: 20% auto 0% auto;
    font-size: 40px;
    vertical-align: middle;
  }
}



/* Outstanding task counter on small screen */ 
#outstandingSmall {
  margin-top: 25%;
  text-transform: lowercase;
  text-align: center;
}


@media (min-width: 768px) {
  #outstandingSmall {
    display: none;
  }
}

/* Done task counter on small screen */
#doneSmall {
  margin-top: 25%;
  text-transform: lowercase;
  text-align: center;
}

/* Hiding counter on big screen */
@media (min-width: 768px) {
  #doneSmall {
    display: none;
  }
}

/* Styles for small screen counters */
.wordsSmall {
  font-family: Arial;
  font-size: 17px;
  color: white;
}

.numbersSmall {
  line-height: 105%;
  font-family: Arial;
  font-size: 80px;
  color: white;
}


/* task counter on big screen */ 
#taskCounter {
  width: 80%;
  margin: 0% auto 0% auto;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  font-family: Arial;
  font-size: 22px;
  text-align: center;
  text-transform: lowercase;
  color: white;
}


