 body {
   background-image: url(backgrounds/foggy-trees-flipped.jpg);
   background-size: cover;
 }

 .sidebar {
  background: rgb(3, 55, 83, 0.8);
  float: left;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  position: fixed;
  z-index: -1;
 }

.title {
  
  border: 6px solid white;
  height: max;
  width: 80%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin: 35% auto 0%;
  z-index: -1;
  text-transform: uppercase;
  font-family: Arial;
  font-size: 25px;
  color: white;
  word-spacing: 500px;
  text-align: center;
}

.taskCounter {
  
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  width: 55%;
  text-align: center;
  margin: 30px auto;
  text-transform: lowercase;
  font-family: Arial;
  font-size: 22px;
  color: white;
}

.input {
  text-align: center;
  margin-top: 30px;
  width: 100%;
}
     
input[type=text] {
   width: max;
   font-size: 20px;
   border: 1px solid #C2C2C2;
   border-radius: 0px;
}

input[type=submit] {
       margin-top: 10px;
       padding: 8px;
       font-size: 15px;
       background: none;
       border: 3px solid white;
       color: white;
     }


.tasks {
  float: right;
  margin-right: 35%;
  margin-top: 10%;
}